[Unit]
Description=JACK 2
After=pulseaudio.service
Requires=pulseaudio.socket
Requires=dbus.socket

[Service]
Type=simple
#Type=dbus
#BusName=org.jackaudio.service

EnvironmentFile=-/etc/jack/%i.conf
EnvironmentFile=-%h/.config/jack/%i.conf

ExecStartPre=-/usr/bin/pacmd set-default-sink null
ExecStartPre=-/usr/bin/pacmd unload-module module-jackdbus-detect
ExecStartPre=-/usr/bin/pacmd unload-module module-jack-sink
ExecStartPre=-/usr/bin/pacmd unload-module module-jack-source
ExecStartPre=/usr/bin/pacmd suspend 1
ExecStartPre=/usr/bin/jack_control eps realtime $REALTIME
ExecStartPre=/usr/bin/jack_control stop
ExecStartPre=/usr/bin/jack_control ds $DRIVER
ExecStartPre=/usr/bin/jack_control dps capture $CAPTURE_DEVICE
ExecStartPre=/usr/bin/jack_control dps playback $PLAYBACK_DEVICE
ExecStartPre=/usr/bin/jack_control dps rate $RATE
ExecStartPre=/usr/bin/jack_control dps inchannels $INCHANNELS
ExecStartPre=/usr/bin/jack_control dps outchannels $OUTCHANNELS
ExecStartPre=/usr/bin/jack_control dps nperiods $NPERIODS
ExecStartPre=/usr/bin/jack_control dps period $PERIOD
ExecStartPre=/usr/bin/jack_control dps duplex $DUPLEX
ExecStartPre=/usr/bin/jack_control dps midi-driver $MIDI_DRIVER

ExecStart=/usr/bin/jack_control start

ExecStartPost=/usr/bin/pacmd load-module module-jackdbus-detect channels=2 connect=true
ExecStartPost=/usr/bin/pacmd set-default-sink jack_out
ExecStartPost=/usr/bin/pacmd suspend-sink jack_out 0

ExecStop=/usr/bin/jack_control exit

ExecStopPost=-/usr/bin/pacmd unload-module module-jackdbus-detect
ExecStopPost=-/usr/bin/pacmd unload-module module-jack-sink
ExecStopPost=-/usr/bin/pacmd unload-module module-jack-source
ExecStopPost=/usr/bin/pacmd suspend 0

SuccessExitStatus=0
RemainAfterExit=yes

[Install]
WantedBy=default.target
