headerbar {
    min-height: 0;
    padding-left: 4px; /* same as childrens vertical margins for nicer proportions */
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar separator {
  margin-top: 2px; /* same as headerbar side padding for nicer proportions */
  margin-bottom: 2px;
}

notebook tab {
  min-height: 0;
  padding-top: 3px;
  padding-bottom: 3px;
}

notebook tab button {
  padding: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  min-width: 0;
  min-height: 0;
}

notebook button {
  min-width: 0;
  min-height: 0;
}

.titlebutton {
  padding: 0px;
}

button {
  padding: 4px;
  min-width: 0;
  min-height: 0;
}

paned {
  min-height: 0;
}
